<div class=" card">
    <div class="card-header">
      <h5 class="title">
        Tokens
      </h5>
    </div>
    <div class=" card-body">
      <div class="col">
        <p class="card-text">Tokens Spent</p>
        <p class="card-text">26</p>
      </div>
      <div class="col">
        <p class="card-text">Tokens Wallet</p>
        <p class="card-text">19</p>
      </div>
    </div>
    <div class=" card-footer">
      <button class=" btn btn-fill btn-danger" type="button">Purchase Tokens</button>
    </div>
  </div>