<div class="card">
  <div class="card-body">
    <div class="profile-header d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img alt="Profile Photo" class="avatar" src="assets/img/anime3.png" />
        <h4 class="card-title">UserName</h4>
      </div>
      <div class="post-dropdown">
        <i class=" tim-icons icon-minimal-down"> </i>
      </div>
    </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Comments</a>
    <a href="#" class="card-link">Share</a>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>
